*{
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;

  }



  .logo{
    width: 200px;
    margin-left: 70px;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    background-color: #e3effb;
  }

  .line{
    border: 2px solid white;
    margin: 0;
  }

  .foodmain{
    background-color:#e3effb ;
    height: auto;
    display: flex;
    width: 100%;
  }

  .text{
    display: flex;
    width: 60%;
    
  }
  .text2{
    padding: 30px 180px;
  }
  .small{
    font-style: italic;
  }

  .green{
    color: rgb(4, 136, 4);
    margin-top: 180px;
    margin-left: 110px;
  }

  .orange{
    font-family: 'Great vibes',cursive;
    color: orange;
    
    font-size: 6rem;
    line-height: 0.8;
  }

  .learnbtn{
    padding: 10px 20px;
    color: white;
    background-color: rgb(28, 197, 28);
  }

  .learnbtn:hover{
    background-color: rgb(22, 156, 22);
  }
  .image{
    display: flex;
    width: 25%;
    padding-right: 10px;
  }
/* works */

.works{
    background-color:rgb(28, 197, 28);
    height: auto;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.worktext{
    padding: 3px 40px;
    font-style: italic;
}

.workimages{
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 25px;
    
    
}

.image2{
    width: 30%;
    color: black;
    padding: 20px;
    margin: 10px;
    background-color: white;
   

}

.orghead{
    font-size: 30px;
    padding-top: 40px;
}

.promise{
    display: flex;
    
}
.vegimage{
    width: 50%;
}
.vegimage img{
    width: 100%;
}

.promisetext{
    width: 40%;
    padding: 80px 80px;
}
.farmg{
    color: rgb(4, 136, 4);
    font-size: 30px;
    margin-left: 40px
}

.ptext{
    font-family:'Great vibes',cursive ;
    color: orange;

    font-size: 5rem;
    line-height: 0.8;
}

.orangebtn{
    padding: 8px 25px;
    background-color: orange;
}

.orangebtn:hover{
    background-color: rgb(236, 154, 1);
}

.shop{
    display: flex;
    flex-wrap: wrap;
    background-color: #e3effb;
   
   
    padding: 15px 15px 15px 20px ;

}
.fruits{
    margin: 3px;
    text-align: center;
    width: 30%;
    background-color: white;
    padding: 0 13px;
}
.veg{
    margin: 3px;
    width: 30%;
    background-color: white;
    padding: 0 13px;
    text-align: center;
}

.salads{
    margin: 3px;
    width: 30%;
    background-color: white;
    padding: 0 13px;
    text-align: center;
}
.fruitimg{
    height: 120px;
    border-radius: 50%;
    padding-top: 10px;
}

.organic{
    display: flex;
    width: 100%;
}
.organic-text{
    width: 50%;
    text-align: center;
}
.orggreen{
    color: rgb(4, 136, 4);
}
.org{
    color: orange;
    font-family:'Great vibes',cursive ;

    font-size: 4rem;
    line-height: 0.8;
}
.orgtext{
    padding: 0 155px;
}
.orgimage{
    width: 50%;
}
.footer{
    background-color:#e3effb ;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
   

}

.icons{
    display: flex;

}
.icons p{
    padding: 5px;
}
















  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media (max-width:600px){

    .foodmain{
        display: block;
    }
    
    .image{
        display: flex;
        width: 100%;
    }
    .image img{
        width: 100%;
    } 
    .text{
        display: flex;
        width: 100%;
        padding: 0;
    }
    .text2{
        padding: 0;
    }
    .workimages{
        display: block;
    }
    .image2{
       padding: 0px;
        width: 90%;
    }
    .vegimage{
        width: 100%;
    }

    .promise{
        display: block;
    }
    .promisetext{
        width: 100%;
    }
    .small{
        font-style: normal;
    }
    .shop{
        display: block;
    }

    .fruits{
        width: 100%;
    }
    .veg{
        width: 100%;
    }
    .salads{
        width: 100%;
    }
    .organic{
        display: block;
    }
    .organic-text{
        width: 100%;
    }
    .orgtext{
        padding: 0;
    }
    .orgimage{
        width: 100%;
    }
    .orgimage img{
        width: 100%;
    }
    .footer{
        display: block;
    }
  }